doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="assets/styles/style.sass")
        title Document
    body 
        include components/mixins 
        header 
            +menu(navigationMenu)
            p SOCIAL MARKETING & ANALYTICS
            h1 Pricing Table
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.
        main 
            section 
                h2 Select a Plan 
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.
                .grid.col_3
                    +card(cardsInfo.satelite)
                    +card(cardsInfo.machine)
                    +card(cardsInfo.rocket)
            section 
                p SOCAL MARKETING & ANALYTICS
                h2 Take control of your data
        footer 
            +menu(navigationMenu, "dark")
        script(type="module" src="/main.js")