@use 'components/mixins' as *

*
    margin: 0
    padding: 0

html
    scrool-behavior: smooth

body 
    margin: 0
    box-sizing: border-box
    font-family: "Maven Pro"

header
    padding-bottom: 200px
    +gradient('../assets/images/glasses.jpg')

h1
    padding: 35px 0 22px
    font-size: 86px
    letter-spacing: -3px
    font-weight: 500

h2
    width: 90%
    font-weight: 500

figcaption
    display: flex
    flex-direction: column
    align-items: center

a
    text-decoration: none

ul
    list-style: none    

picture
    padding: 50px 0

main h2
    font-size: 60px
    letter-spacing: -2px
    line-height: 1.2em
    color: #4f4f6f

svg
    fill: #6a6a77
    transition: .5s
    &:hover
        fill: #6e45e2

footer
    padding-top: 25px
    .navigation
        padding-bottom: 25px
    nav.wrapper
        padding-top: 25px
        border-top: 1px solid #bdbdc2 

.wrapper
    margin: 0 auto 
    width: 95%
    +media(1920)
        max-width: 1820px

.logo
    max-height: 75px
    span
        font-size: 30px
        font-weight: bold
        text-transform: uppercase
        letter-spacing: 6px

.light
    color: #fff
    a
        color: #fff
    .btn
        +btn($fixed: false, $empty: false)

.dark
    color: #121212
    +media-max(900)
        color: #fff
    a
        color: #121212
        transition: .5s
        +media-max(900)
            color: #fff
        &::before
            background: #fff
            +media(900)
                background: #121212
    .btn
        +btn($fixed: false, $empty: true)

span.dark 
    +media-max(900)
            color: #121212

.arrowDown
    position: relative
    display: flex
    justify-content: center
    &:hover
        .circle
            top: 160px
        .arrow
            top: 185px

.circle
    position: absolute
    top: 150px
    right: 0
    transform: translateX(50%)
    width: 64px
    height: 64px
    border-radius: 50%
    background-color: #fff
    transition: .5s
    
        
.arrow
    position: absolute
    top: 175px
    right: 0
    transform: translateX(50%)
    transition: .5s

.main.container
    padding: 100px 0
    text-align: center
    flex-direction: column
    align-items: center

.column
    text-align: center
    flex-direction: column
    align-items: center
    padding-top: 80px
    +media(1040)
        padding-top: 120px

.w40
    width: 40%
    +media-max(780)
        width: 90%

.background
    background-color: #f9fafc
    h2
        padding: 10px 0 35px 

.flex
    display: flex
    gap: 20px

.flex_between 
    display: flex
    justify-content: space-between
    gap: 20px

.items_center
    align-items: center

.flex_center 
    display: flex
    justify-content: center

.text_center
    text-align: center

.linew
    display: none
    position: absolute
    width: 24px
    height: 1px
    background-color: #fff
    +media(360)
        display: inline

.lineg
    position: absolute
    width: 24px
    height: 1px
    background-color: #6e45e2

.start
    top: 16px
    left: -40px

.end
    top: 16px
    right: -40px

.w33
    width: 33%
    +media-max(900)
        width: 90%

.small
    font-size: 16px
    line-height: 1.75em
    a
        font-size: 16px
        line-height: 1.75em

.grey
    color: #9fa4af
    a
        color: #9fa4af
    
.miso
    position: relative

.marketing
    font-size: 14px
    letter-spacing: 1px
    line-height: 2.29em
    font-weight: bold

.grid
    display: grid

.col_3 
    padding: 70px 0 80px
    grid-template-columns: 1fr
    margin: 0 auto
    width: 80%
    gap: 50px
    +media(700)
        padding: 100px 0 120px
    +media(1024)
        width: 90%
        gap: 50px
        grid-template-columns: repeat(3, 1fr)
        justify-content: space-between
    +media(1350)
        width: 80%

.card
    padding: 50px 15px 66px
    border-radius: 30px
    background-color: #ffffff
    border: 1px solid #d7dbe8
    transition: .5s
    &:hover
        box-shadow: 0 0 46px rgba(204,204,223,0.71)
    picture
        padding-bottom: 50px

.personal
    padding-bottom: 28px

.price
    position: relative
    padding-bottom: 48px
    color: #4f4f6f

.currency
    position: absolute
    top: 0
    left: -10px

.s60
    font-size: 60px

.description 
    padding-bottom: 55px

.btn_fixed
    +btn()

.map
    +gradient('../assets/images/map.jpg')
    flex-direction: column
    padding: 180px 0
    h2
        padding: 15px 0 18px
        font-size: 60px
        letter-spacing: -2px
        line-height: 1.2em
        text-align: center

.buttons
    display: flex
    flex-direction: column
    gap: 20px
    +media(700)
        flex-direction: row
        gap: 10px

.get
    +btn($fixed: false, $empty: true)
    width: 190px
    border-color: #6e45e2

.exp
    +btn($fixed: true, $empty: false)

.pad
    padding-top: 8px

.gap10
    gap: 10px

.fb
    padding-right: 5px

.white_menu
    .burger
        background-color: #fff

.black_menu
    .burger
        background-color: #121212

.navigation
    display: flex
    flex-direction: column
    +media(520)
        flex-direction: row

.popup
    position: fixed
    top: 0
    left: 0
    z-index: 2
    +media(900)
        position: static
    +media-max(900)
        height: 100%
        background-color: #0e0e70
        padding: 10px 10px 0 0
    li
        padding: 20px 25px
        +media(900)
            padding: 0

.menu
    position: relative
    font-size: 30px
    &::before
        content: ""
        position: absolute
        bottom: 0
        left: 0
        display: block
        width: 100%
        height: 2px
        background: #fff
        transform: scale(0)
        transition: .5s
    &:hover
        &::before
            transform: scale(1)
    +media(900)
        padding-bottom: 2px
        font-size: 16px
        line-height: 1.2em
        font-weight: 400

.open_popup
    display: flex
    flex-direction: column
    gap: 10px
    padding-top: 10px
    +media(900)
        display: none

.d-block
    display: none
    +media(900)
        display: flex

.burger
    width: 50px
    height: 5px

.black
    display: none
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: rgba(0, 0, 0, 0.5)
    backdrop-filter: blur(4px)
    z-index: 1

.cancel_popup
    display: none
    position: fixed
    top: 10px
    left: 200px
    width: 45px
    height: 45px

.di-block
    display: block

.mass
    font-size: 14px
    line-height: 1.4em
    color: #6a6a77
    &:hover
        color: #6e45e2