@use 'components/mixins' as *

*
    margin: 0
    padding: 0

body 
    margin: 0
    box-sizing: border-box
    font-family: "Maven Pro"

header
    +gradient('../assets/images/glasses.jpg')

a
    text-decoration: none

ul
    list-style: none    

picture
    padding: 50px 0

.logo
    max-height: 75px
    span
        font-size: 30px
        font-weight: 400
        text-transform: uppercase

.menu
    font-size: 16px;
    line-height: 1.2em;
    font-weight: 400;

.light
    color: #fff
    a
        color: #fff

.dark
    color: #121212
    a
        color: #121212

.cta_empty 
    min-width: 90px

.btn 
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 2.6em;
    text-transform: uppercase;

.main.container
    padding: 100px 0
    text-align: center
    flex-direction: column

.flex
    display: flex
    gap: 20px

.flex_between 
    display: flex
    justify-content: space-between
    gap: 20px
    width: 100%

.items_center
    align-items: center

.flex_center 
    display: flex
    justify-content: center

.text_center
    text-align: center

.grid
    display: grid

.col_3 
    padding: 100px 250px 120px
    grid-template-columns: 1fr
    +media(1024)
        grid-template-columns: repeat(3, 1fr)

.personal
    padding-bottom: 28px

.price
    padding-bottom: 48px

.description 
    padding-bottom: 55px

.button 
    padding-bottom: 66px

.map
    +gradient('../assets/images/map.jpg')
    flex-direction: column
    padding: 180px 0